# Server
PORT=3000

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=isi_password_mysql_kamu
DB_NAME=ecolens

# JWT
JWT_SECRET=isi_secret_key_minimal_32_karakter
JWT_EXPIRES_IN=1h

# FastAPI AI Service
FASTAPI_URL=http://localhost:8000